:root{
    --header-hw: 60px;
    --header-padding: 6px;
    
    --header-height: 120px;
}

*{box-sizing: border-box}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
/*    background-image: url(../IMG/1.jpg);*/
<<<<<<< HEAD
    background-position: 0 -210px;
=======
/*    background-position: 0 -210px;*/
>>>>>>> 4d52152021eafc40557ebcb8f96c2b7b997cf1f7
/*    opacity: 80%*/
}



header{
    width: inherit;
    height: var(--header-hw);
    padding: var(--header-padding);
    background: #DDD;
}

header > a > .wait {
    width: calc( var(--header-hw) - var(--header-padding)*2);
    height: calc( var(--header-hw) - var(--header-padding)*2);
    background-color: red;
    background-repeat: no-repeat;
    background-color: #FFF;
    background-size: 90%;
    background-position: center;
    border-radius: 4px;
    position: relative;
}

.number_wait {
    color: #DDD;
    font-size: 14px;
    background-color: rgba(255,0,0,0.7);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -4px;
    right: -4px;
    text-align: center;
    align-items: center;
}

.filter{
    display: flex;
    width: 100%;
    background-color: aquamarine;
}
.filter_element{
    display: flex;
}

@media (orientation: portrait){
    header{height: var(--header-height)}
/*    h1{font-size: 10px}*/
}