:root {
    --icon-hw: 100%;
}

body {
    color: #343434;
    font-family: sans-serif;
    font-size: 16px;
}

.CLUSTER {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.BOX {
    display: block;
    width: 30%;
    padding: 20px;
    background-color: #DDD;
    border-radius: 4px;
    margin: 5px 10px;
}

div.NAME {
    text-align: center;
    font-size: 20px;
}